{# app/Resources/views/Emails/registration.html.twig #}
<h3>Un concours est terminé !</h3>

Bonjour, le concours {{ contestName }} est terminé. Le gagnant est {{ participantFirstName }} {{ participantLastName }}

Rendez vous sur la page facebook Pardon Maman pour plus de détails.