{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <span class="ecartement"><h2> Transférer une photo </h2></span>
        </div>
        <div class="row">
            <div class="dropdown ecartement">
                <button class="btn btn-secondary dropdown-toggle" id="bouton-dropdown" type="button" data-toggle="dropdown">Méthode d'ajout de photo
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Sélectionner un album</a></li>
                    <li><a href="#">Importer depuis son ordinateur</a></li>
                </ul>
            </div>
        </div>
        <div class="row center-block" id ="listephotos">
            <div class="col-md-4" >
                <img class="crop image-transfert" data-toggle="modal" data-target="#myModal" style="background-image: url('/public/img/placeholder.jpg')";>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Photo</h4>
                            </div>
                            <div class="modal-body">
                                <img class="image-grande" src="/public/img/placeholder.jpg">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="selectionner"> Sélectionner </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="crop image-transfert" data-toggle="modal" data-target="#myModal" style="background-image: url('/public/img/placeholder.jpg')";>
            </div>
            <div class="col-md-4">
                <img class="crop image-transfert" data-toggle="modal" data-target="#myModal" style="background-image: url('/public/img/placeholder.jpg')";>
            </div>
        </div>
        <div class="row text-center">
            <button id="envoi-participation" type="button" class="btn btn-secondary btn-lg btn-border">Je Participe</button>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/transfert.css') }}">
{% endblock %}