{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row header-page center-block">
            <h1>Règles en places pour le concours</h1>
        </div>
        <div class="row header-page center-block">
            {% for rule in rules %}
                <div class="row center-block">
                    <div class="text-left col-sm-offset-1 col-sm-10  paragraphe">
                        {{ rule.description | raw  }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
