.crop
{
    width: 60px;
    height: 60px;
    background-size: cover;
}

.modal-body img
{
    width: 100%;
}

.modal-footer
{
    text-align: center;
}

#tableau-wrap
{
	margin-top: 30px;
	margin-bottom: 10px;
}
#tableau-wrap span
{
	text-align: center;
}

#tableau-titres
{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
}
.tableau-resultats
{
	margin-top: 5px;
}

.vcenter 
{
  display: flex;
  align-items: center;
}
#header-gallery h1, #header-gallery h2
{
    margin-bottom: 0px;
}