body{
    margin : 0 auto;
}

img{
    width : 100%;
}

h1{
    font-weight: 200;
    margin-bottom : 20px;
}

h4{
    color : #000000;
    font-weight : 300;
}

p{
    margin : 20px 0 30px;
}

#lot img{
    margin-top : 10px;
    margin-bottom : 10px;
}

#lot img, #bestPictures img{

}

#lot, #bestPictures{
    color : #ffffff;
    background-color: #3D3D3D;
}

#bestPictures{
    padding-bottom : 50px;
}

.modal-footer{
    text-align : center;
}

.modal-header, .modal-footer{
    border : 0px;
}
