#lot img
{
    /*margin-top : 10px;
    margin-bottom : 10px;*/

    max-width: 220px;
    max-height: 220px;
}

#bestPictures img
{
    max-width: 350px;
    max-height: 200px; 
}

/*#carousel-photos
{
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
}*/

#myCarousel
{
    width: 500px;
    height: 300px;
    margin-bottom: 100px;
}
#lot, #bestPictures
{
    color : #ffffff;
    background-color: #3D3D3D;
}

#bestPictures
{
    padding-bottom : 50px;
}

.modal-footer
{
    text-align : center;
}

.modal-header, .modal-footer
{
    border : 0px;
}
.crop
{
    width: 450px;
    height: 450px;
    background-size: cover;
}