#listephotos
{
    margin-top: 10px;
}

.crop
{
    width: 200px;
    height: 200px;
    border: 3px solid #333333;
    background-size: cover;
}

.row.center-block
{
    text-align: center;
}

.album-cover
{
    display:inline-block;
    margin-bottom: 50px;
}

.image-transfert
{
    cursor: pointer;
}
#envoi-participation
{
    margin-top: 10px;
}

.ecartement h2,.ecartement button
{
    margin-left: 30px;
}

.modal-body img
{
    width: 100%;
}

.modal-footer
{
    text-align: center;
}

#import-photo
{
    display:none;
}
