h1, h2{
	text-transform: uppercase;
}

.header-page ul{
	padding-left : 0px;
}

.gallery-row img:hover{
	
}

a{
	color : #3D3D3D;
}

.btn{
	background-color: #E87740;
	color : #ffffff;
}

.modal-footer .btn, .modal-footer .btn-primary{
	border-color: #ffffff;
}

#lot img{
	border : solid 1px #E87740;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color : #E87740;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color : #E87740;
}

.picture-info{
	border-top : 0px;
}

h1{
	line-height : 0.8;
}

#bestPictures img{
	/*border : solid 1px #E87740;*/
}

#bestPictures img{
	width : 500px;
	height : 300px;
	max-width : 500px;
	max-height: 300px;
	cursor : pointer;
}


#carousel-photos:hover{
	background-color : red;
}

.nom-participant{
	border : solid 1px #E87740;
	left : 30%;
	bottom : 180%;
	padding : 5px;
	cursor : pointer;
}

#carousel-photos{
	border : solid 1px #E87740;
	padding : 0px;
}